<header></header>


   <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    <div class="overlay">
        <p>Content above your video</p>
        <form>
            <p>Content Below Your Video</p>
            <label for="input">Form Input Label</label>
            <input id="input" name="input" value="" />
            <button type="submit">Submit</button>
        </form>
    </div>
    </video>

  

   
   <div class="site-header-scroll">
    <div class="site-header-inside">
      <div class="site-header-vertical">
          
       
      </div><!-- .site-header-vertical -->
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-scroll -->
</header><!-- .site-header -->