<header></header>


   <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  
  

   
   <div class="site-header-scroll">
    <div class="site-header-inside">
      <div class="site-header-vertical">
          
       
      </div><!-- .site-header-vertical -->
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-scroll -->
</header><!-- .site-header -->